{
  "extends": "@antfu",
  "rules": {
    "vue/component-tags-order":"off",
    "no-console":"off",
    "@typescript-eslint/comma-dangle":"off",
    "antfu/top-level-function":"off",
    "unused-imports/no-unused-vars":"off",
    "curly":"off",
    "@typescript-eslint/no-this-alias":"off"
  }
}